.container {
    text-align: center;
    margin-top: 50px;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: #ccc; 
    margin: 20px auto;
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('https://64.media.tumblr.com/b3029d676aa38d5a23831934e436a301/tumblr_oj4x2fsA5I1u4echuo1_1280.gifv');
    background-size: cover;
    background-position: center;
}

#color-changer-text {
    font-size: 48px; 
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFzdGZ6MjVmazg3dmFtN2h6Mzd5cTFyZTg2bzdhNGZndm55eWs5ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufo4EIIEdB8tX3y/giphy.gif'); 
    -webkit-background-clip: text;
    color: transparent; 
    text-align: center; 
}


